
corel/obj/Debug/NAudio.Utils.ProgressLog.resources
corel/obj/Debug/NAudio.Gui.WaveViewer.resources
corel/obj/Debug/NAudio.Gui.VolumeSlider.resources
corel/obj/Debug/NAudio.Gui.Pot.resources
corel/obj/Debug/NAudio.Gui.PanSlider.resources
corel/obj/Debug/NAudio.Gui.Fader.resources
corel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
corel/obj/Debug/corel.pdb
corel/obj/Debug/corel.exe
corel/obj/Debug/corel.csprojResolveAssemblyReference.cache
corel/obj/Debug/corel.csproj.GenerateResource.Cache
corel/obj/Debug/corel.csproj.FileListAbsolute.txt
build/corel.vshost.exe.manifest
build/corel.vshost.exe
build/corel.pdb
build/corel.exe
.vs/corel/v14/.suo
.vs/corel/v15/Server/sqlite3/storage.ide-wal
.vs/corel/v15/Server/sqlite3/storage.ide-shm
.vs/corel/v15/Server/sqlite3/storage.ide
.vs/corel/v15/Server/sqlite3/db.lock
.vs/corel/v15/.suo
corel/obj/Debug/corel.csproj.CoreCompileInputs.cache
build/conso1.exe
build/conso1.pdb
build/conso1.vshost.exe
test/conso1/obj/Debug/conso1.pdb
test/conso1/obj/Debug/conso1.exe
test/conso1/obj/Debug/conso1.csprojResolveAssemblyReference.cache
test/conso1/obj/Debug/conso1.csproj.FileListAbsolute.txt
test/conso1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
test/conso1/conso1.csproj.user
build/ProtoGen.exe
build/ProtoGen.exe.config
build/ProtoGen.pdb
build/ProtoGen.vshost.exe
build/ProtoGen.vshost.exe.config
build/ProtoGen.vshost.exe.manifest
build/AddressBookDemo.vshost.exe.config
build/AddressBookDemo.vshost.exe
build/AddressBookDemo.pdb
build/AddressBookDemo.exe.config
build/AddressBookDemo.exe
build/AddressBook.vshost.exe.manifest
build/AddressBook.vshost.exe.config
build/addressbook.data
Google.ProtocolBuffers/ProtoGen/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
