
corel/obj/Debug/NAudio.Utils.ProgressLog.resources
corel/obj/Debug/NAudio.Gui.WaveViewer.resources
corel/obj/Debug/NAudio.Gui.VolumeSlider.resources
corel/obj/Debug/NAudio.Gui.Pot.resources
corel/obj/Debug/NAudio.Gui.PanSlider.resources
corel/obj/Debug/NAudio.Gui.Fader.resources
corel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
corel/obj/Debug/corel.pdb
corel/obj/Debug/corel.exe
corel/obj/Debug/corel.csprojResolveAssemblyReference.cache
corel/obj/Debug/corel.csproj.GenerateResource.Cache
corel/obj/Debug/corel.csproj.FileListAbsolute.txt
build/corel.vshost.exe.manifest
build/corel.vshost.exe
build/corel.pdb
build/corel.exe
